[Desktop Entry]
Type=Application
Name=tfile_tool (KingsFieldRE)
Comment=A command line tool for extracting files from From Software T archive files!
Categories=Game;
Icon=tfile_tool
