[Desktop Entry]
Type=Application
Name=fdat28_tool (KingsFieldRE)
Comment=A tool for inspecting values in King's Field's FDAT 28 file.
Categories=Game;
Icon=fdat28_tool
